* {
  box-sizing: border-box;
  margin: 0;
}

html{
  height: 100%;
}

body {
  height: 100%;
  background: url(assets/flowers_progressive.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  padding: 2em;
  /*overflow: hidden;*/
}

.landing-title{
  color: black;
}

#header, #form {
  position: relative;
  width: 100%;
  margin: auto;
  padding: 1.5em;
  color: #fff;
  text-align: center;
}

#search-results{
  width: 200px;
  height: 30px;
  text-align: center;
}
