* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

html{
  height: 100%;
}

body {
  height: 100%;
  background: url(assets/flowers_progressive.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  padding: 1em;
  /*overflow: hidden;*/
  min-width: 320px;
}

/* RESETS */
ul {
  padding: 0;
}

.option-li {
  list-style-type: none;
}
.option-a {
  text-decoration: none;
  padding: 1em;
  font-size: 1.2em;
  text-transform: capitalize;

}

.option-a:hover {
  color: red;
}

.landing-title{
  color: black;
}

#header, #form {
  position: relative;
  width: 100%;
  margin: auto;
  padding: 1.5em;
  color: #fff;
  text-align: center;
}

#search-results{
  width: 200px;
  height: 30px;
  text-align: center;
}

#nobel-people {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  background: white;
}

#search-input {
  width: 90%;
  padding: 1em;
  font-size: 1em;
}

@media(min-width: 850px) {
  #search-input {
    width: 60%;
  }

  #nobel-people {
    width: 60%;
  }
}
