body {
  background: url(assets/flowers.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#header, #form {
  position: relative;
  width: 100%;
  margin: 50px auto;
  color: #fff;
  text-align: center;
}
